<div class="text-field">
  <%= form.label :name %>
  <%= form.text_field :name, type: 'name' %>
</div>

<div class="text-field">
  <%= form.label :email %>
  <%= form.text_field :email, type: 'email' %>
</div>

<div class="password-field">
  <%= form.label :password %>
  <%= form.password_field :password %>
</div>

<div class="text-field">
  <%= form.label :stack_id %>
  <%= form.text_field :stack_id, type: 'stack_id' %>
</div>

<div class="text-field">
  <%= form.label :location %>
  <%= form.text_field :location, type: 'location' %>
</div>


